name: Build

on:
  workflow_call:

permissions:
  checks: write
  contents: write

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        id: setup
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        id: dependencies
        run: npm ci

      - id: build
        name: Build
        run: npm run build
